#wrapper {
  border-top: none;
}

.socials-header {
  display: none;
}

.navbar-inner .brand {
  display: none;
}

.navbar #search input[type="submit"] {
  background-color: var(--mdl-user-color);

  &:hover {
    background-color: var(--mdl-user-color-darker-10);
  }
}

#loggedin-user {
  display: flex;
  align-items: center;
}

#loggedin-user .usertext {
  color: var(--mdl-user-color);
  font-weight: normal;
}

#loggedin-user .caret {
  display: none;
}

.profileblock .welcome_userpicture {
  display: none;
}

.profileblock {
  padding: 0;
}

.jsenabled .usermenu .moodle-actionmenu > .menubar {
  margin: 0;
}

a.logo img {
  height: 40px;
}
