.loginbox {
  display: flex;
  justify-content: center;

  .loginpanel h2,
  .loginpanel .subcontent,
  .loginsub {
    max-width: none;
  }

  &.twocolumns .signuppanel,
  .loginpanel .desc {
    display: none;
  }

  .forgetpass,
  #login {
    background: none;
  }

  .loginform .form-input {
    background: none;
    padding: 0;
  }

  .loginform .form-input input {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
