.loginbox {
  display: flex;
  justify-content: center;

  .loginpanel h2,
  .loginpanel .subcontent,
  .loginsub {
    max-width: none;
  }

  &.twocolumns .signuppanel,
  .loginpanel .desc {
    display: none;
  }

  .forgetpass,
  #login {
    background: none;
  }

  .loginform .form-input {
    background: none;
    padding: 0;
  }

  .loginform .form-input input {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

#block-login label#user,
#block-login label#pass {
  display: none;
}

#block-login input[type="text"],
#block-login input[type="password"] {
  padding: 5px 20px !important;
  border-radius: 2rem;
}
