#submit {
  border: none;
  background-color: var(--mdl-user-color);

  &:hover,
  &:focus {
    background-color: var(--mdl-user-color-lighter-10);
  }

  &:active {
    background-color: var(--mdl-user-color-darker-10);
  }
}
